<div class="cart-container" *ngIf="itemsOfCart.length > 0; else carrinhoVazio">
  <div class="Header">
    <h3 class="Heading">Carrinho de Compras</h3>
    <h5 class="remove"><u>Remover todos</u></h5>
  </div>

  <div class="Cart-Items" *ngFor="let item of itemsOfCart">
    <div class="image-box">
      <img
        [src]="item.imageUrl"
        style="height: 120px"
      />
    </div>
    <div class="about">
      <h4 class="title">{{ item.name }}</h4>
      <!-- <h3 class="subtitle">250ml</h3> -->
      <!-- <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        style="height: 30px"
      /> -->
    </div>
    <div class="counter">
      <div class="btn">-</div>
      <div class="count">2</div>
      <div class="btn">+</div>
    </div>
    <div class="prices">
      <div class="amount">{{ item.price }}</div>
      <div class="remove" (click)="remover(item.productId)"><u>Remover</u></div>
    </div>
  </div>
  <hr />
  <div class="checkout">
    <div class="total">
      <div>
        <div class="Subtotal">Total</div>
        <div class="items"> {{ itemsOfCart.length }} itens</div>
      </div>
      <div class="total-amount"> {{ total }} </div>
    </div>
    <button mat-stroked-button class="button" color="primary" (click)="prosseguirParaCriarPedido()">Checkout</button>
  </div>
</div>

<ng-template #carrinhoVazio>
  <h2>Você não tem nada em seu carrinho de compras...</h2>
  <h3 class="remove" (click)="comecarComprar()" ><u>Começar a comprar</u></h3>
</ng-template>
