<mat-action-list>
  <mat-list-item *ngFor="let item of itemsOfCart">
    Produto: {{ item.name }} | Preço: {{ item.price }}

    <button mat-icon-button (click)="remover(item.productId)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-action-list>

<mat-card>
  <h2>Resumo do Pedido</h2>
  <p>{{ itemsOfCart.length }} produtos R$ {{ total }}</p>
  <button mat-stroked-button color="primary" (click)="prosseguirParaCriarPedido()">
    Informar endereço de entrega
  </button>
</mat-card>
