<p>
  <mat-card style="width: 50%;">
    <h2>Endereço de Entrega</h2>
    <p>Rua dos Zé Mané</p>
    <p>Cidade - Estado</p>
    <p>CEP: 19807-816</p>
  </mat-card>
  <mat-card style="width: 50%;">
    <h3>Resumo do Pedido</h3>
    <p>3 produtos R$ 300,00</p>
    <p>Frete R$ 30,00</p>
  </mat-card>
</p>
<p>
  <mat-card>
    <h2>Cartão de Crédito</h2>
    <form class="pesquisar">
      <div class="example-container">
        <mat-form-field
          style="width: 50vw"
          class="example-full-width"
          appearance="fill"
        >
          <mat-label>Nome</mat-label>
          <input matInput maxlength="50" />
        </mat-form-field>

        <mat-form-field
          style="width: 50vw"
          class="example-full-width"
          appearance="fill"
        >
          <mat-label>Número</mat-label>
          <input matInput maxlength="50" />
        </mat-form-field>
        <p>
          <mat-form-field
            style="width: 25vw"
            class="example-full-width"
            appearance="fill"
          >
            <mat-label>CVV</mat-label>
            <input matInput maxlength="50" />
          </mat-form-field>

          <mat-form-field
            style="width: 25vw"
            class="example-full-width"
            appearance="fill"
          >
            <mat-label>Data de Expiração</mat-label>
            <input matInput maxlength="50" />
          </mat-form-field>
        </p>
      </div>
    </form>
  </mat-card>
</p>
<p>
  <button mat-stroked-button color="primary">Finalizar</button>
</p>
