<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="100%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="25%" fxFlex.xl="20%" *ngFor="let product of products">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-md-image
          [src]="product.imageUrl"
          [alt]="product.name"
        />
        <mat-card-content>
          <p>{{ product.description }}</p>
          <p>{{ product.price | currency }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-stroked-button
            color="primary"
            mat-button
            (click)="adicionarCarrinho(product)"
          >
            Comprar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<!-- <mat-grid-list [cols]="breakpoint" gutterSize="5px" rowHeight="400px" (window:resize)="onResize($event)">
  <mat-grid-tile >

  </mat-grid-tile>
</mat-grid-list> -->
